.container {
  color: white;
  margin: 1.5rem;
}

.container div {
  background-color: #343333;
}
.container span {
  display: flex;
}

.container span p {
  margin: 0.1rem 1rem 0 1rem;
}

.header {
  justify-content: space-between;
}

.header div {
  border-radius: 10px;
  width: 150px;
  height: 25px;
  margin: 5px;
  text-align: center;
}

.body {
  margin: 10px 0;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
.footer div {
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  height: 25px;
}
